<SCRIPT>  type="text/javascript" language="JavaScript" src="images.js"</SCRIPT>
%h1 Image output of the Zernike equation

.loader-wrapper
    .loader
    .loader-section.section-left
    .loader-section.section-right

.output_choices
//   = select :zernike, :output_files, ['Wavefront','PSF (1 of xx)', 'Convolution (1 of xx)', 'etc.']

%input{name: 'Wavefront', class: "one", type: "checkbox", value: "choice1"}
%label Wavefront
%br
%input{name: 'PSF', class: "one", type: "checkbox", value: "choice2"}
%label PSF (1 of xx)
%br
%input{name: 'Convolution', class: "one", type: "checkbox", value: "choice3"}
%label Convolution (1 of xx)
%br
%input{name: 'MTF', class: "one", type: "checkbox", value: "choice4"}
%label MTF etc
%br

<div class="computed images">
- @files.each do |image|
    #{image}
    =image_tag  image, :class => "image"
-#   %img(:class=>"image", :src=>image)    
-#<img class="image" src=image+".jpg" style="width:100%">
    
<button class="left" onclick="plusDivs(-1)">&#10094;</button>
<button class="right" onclick="plusDivs(1)">&#10095;</button>
</div>

= button_to "copy"
= button_to "save current as matrix"
= button_to "save all as matrices"
= button_to "home page", root_path, :method => :get
// %a{:href => "Download", :download => "images/pics.png", :target => "blank"}
// = link_to "Compute Zernike equation", new_zernike_path
