%h1 Image output of the Zernike equation

.loader-wrapper
    .loader
    .loader-section.section-left
    .loader-section.section-right

.output_choices
//   = select :zernike, :output_files, ['Wavefront','PSF (1 of xx)', 'Convolution (1 of xx)', 'etc.']

%input{name: 'Wavefront', type: "checkbox", value: "choice1"}
%label Wavefront
%br
%input{name: 'PSF', type: "checkbox", value: "choice2"}
%label PSF (1 of xx)
%br
%input{name: 'Convolution', type: "checkbox", value: "choice3"}
%label Convolution (1 of xx)
%br
%input{name: 'MTF', type: "checkbox", value: "choice4"}
%label MTF etc
%br


= image_tag "pic1.png", :style=>"height: 300px; width: 300px;", :class=>"output_images"
= image_tag "pic2.png", :style=>"height: 300px; width: 300px;", :class=>"output_images"
<button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
<button class="w3-button w3-display-right" onclick="plusDivs(+1)">&#10095;</button>

%br/

= button_to "copy"
= button_to "save current as matrix"
= button_to "save all as matrices"
= button_to "home page", root_path, :method => :get
// %a{:href => "Download", :download => "images/pics.png", :target => "blank"}
// = link_to "Compute Zernike equation", new_zernike_path
