%h1 Optical Wavefront Analysis

//where the pyramid is
.zernike_pyramid
    %h2.zernikes_header Zernikes
    <div class="center">
    - (0...@zernikes.size).each do |i|
        &emsp; #{"%.3g" % @zernikes[i]} &emsp;
        - if i == 0 or i == 2 or i == 5 or i == 9 or i == 14 or i == 20 or i == 27 or i == 35 or i == 44 or i == 54 
            </div><div class="center">
    </div> 
    
    // buttons to choose input method
    <div class="center">
    .input_coefficients
        = button_to "read from file", upload_zernike_path, :method => :get
        = button_to "enter manually", enter_manually_path, :method => :get
        = button_to "randomly generate", random_path, :method => :post
    </div>
// the input boxes
.parameters_div
    %h2.parameters_header Parameters
    = form_tag compute_path, :method => :post do
        .box1 
        %h3 Pupil Diameter
        = text_field_tag 0, @params[0]
        %label mm; pupil diameter from file, OR set to a single value 
        = text_field :input_pupil, 'pupil_value'
        %label mm
        
        %br
        OR set to a range 
        = text_field :input_pupil, 'pupil_range_min'
        min
        = text_field :input_pupil, 'pupil_range_max'
        max
        = text_field :input_pupil, 'pupil_range_step'
        step
        
        %br
        .box2 
            %h3 Defocus
            = text_field_tag 1, @params[1]
            %label D
            %select{ :name => "question[question_status]" }
                %option{:value => 1}= "defocus from file"
                %option{:value => 2}= "set to single value" 
                %option{:value => 3}= "set to range"
            .defocus_checkboxes
                %input{:type=>"checkbox"}
                %label set defocus coefficient to 0
                %input{:type=>"checkbox"}
                %label force astigmatism coefficients to 0
    
        %br        
        .box3 
            %h3 Additional Inputs
            = text_field_tag 2, @params[2]
            %label nm; wavelength for calculation
            %br
            = text_field_tag 3, @params[3]
            %label pixels; output image size
            %br
            = text_field_tag 4, @params[4]
            %label mm; pupil field size (make bigger to enlarge the image of the point spread function)

        %br
        %h2.parameters_checkboxes
            %h3 Output Images 
            - @options.each do |option|
                = option
                = check_box_tag "options[#{option}]", 1
                
                
            
            
            // %input{ :type=>"checkbox" }
            // %label Wavefront
        
            // %input{ :type=>"checkbox" }
            // %label PSF (point spread function)
        
            // %input{ :type=>"checkbox" }
            // %label MTF Full (modulation transfer function)
        
            // %br
        
            // %input{ :type=>"checkbox" }
            // %label PTF (Phase Transfer Function)
        
            // %input{ :type=>"checkbox" }
            // %label MTF line plots (horizontal, vertical, radial average)
        
            // %input{ :type=>"checkbox" }
            // %label 'convolution for 20/ sized letter'
            // = text_field :options, #'insert 20/ here'
        
        %br
        .parameters_submit
        = submit_tag "Compute"
        
    