%h1 Optical Wavefront Analysis

//where the pyramid is
.zernike_pyramid
    %h2.zernikes_header Zernikes
    <div class="center">
    - (0...@zernikes.size).each do |i|
        &emsp; #{"%.3g" % @zernikes[i]} &emsp;
        - if i == 0 or i == 2 or i == 5 or i == 9 or i == 14 or i == 20 or i == 27 or i == 35 or i == 44 or i == 54 
            </div><div class="center">
    </div> 
    
    // buttons to choose input method
    <div class="center">
    .input_coefficients
        = button_to "read from file", upload_zernike_path, :method => :get
        = button_to "enter manually", enter_manually_path, :method => :get
        = button_to "randomly generate", random_path, :method => :post
    </div>
// the input boxes
.parameters_div
    %h2.parameters_header Parameters
    = form_tag compute_path, :method => :post do
        
        .box1 
            %h3 Pupil Diameter 
            .radio
                %ul
                %li
                    %label 
                        %input{name: "pupil_diameter", type: "radio", checked: !@default[0].nil?, value: "from file"}
                        pupil diameter from file
                        = text_field_tag :pupil_file_diam, @default[0]
                        mm
                %li
                    %label
                        %input{name: "pupil_diameter", type: "radio", value: "single"}
                        set to a single value (must be equal to or less than value from file)
                        = text_field :input_pupil, 'pupil_value'
                %li  
                    %label 
                        %input{name: "pupil_diameter", type: "radio", value: "range"}
                        set to a range
                        = text_field :input_pupil, 'pupil_range_min'
                        min
                        = text_field :input_pupil, 'pupil_range_max'
                        max (must be < value from file)
                        = text_field :input_pupil, 'pupil_range_step'
                        step
        
        %br
        .box2 
            %h3 Defocus
            .radio
                %ul
                %li
                    %label 
                        %input{name: "pupil_defocus", type: "radio", value: "from file"}
                        pupil defocus from file
                        = text_field_tag :pupil_file_def, @default[1]
                        D
                %li
                    %label
                        %input{name: "pupil_defocus", type: "radio", value: "single"}
                        set to a single value (must be less than 5)
                        = text_field :input_pupil, 'pupil_value'
                %li  
                    %label 
                        %input{name: "pupil_defocus", type: "radio", value: "range"}
                        set to a range
                        = text_field :input_pupil, 'pupil_range_min'
                        min
                        = text_field :input_pupil, 'pupil_range_max'
                        max
                        = text_field :input_pupil, 'pupil_range_step'
                        step
       
            .defocus_checkboxes
                %label 
                    = check_box_tag 'astigmatismTo0[]', 1
                    force astigmatism coefficients to 0
    
        %br        
        .box3 
            %h3 Additional Inputs
            %label
                = text_field_tag 2, @default[2]
                nm; wavelength for calculation
            %br
            = text_field_tag 3, @default[3]
            %label pixels; output image size
            %br
            = text_field_tag 4, @default[4]
            %label mm; pupil field size (make bigger to enlarge the image of the point spread function)

        %br
        %h2.parameters_checkboxes
            %h3 Output Images 
            %ul
                - @options.each do |option|
                    %li
                        %label
                            = check_box_tag "options[#{option}]", 1
                            = option
                .form_group
                %li
                    %label
                        = check_box_tag "convolution", 1
                        convolution for 20 / 
                        = text_field_tag :convolution, 20
                        
        
        %br
        .parameters_submit
        = submit_tag "Compute", {id: "demo"}
        <div id="slow_warning" style="display:none" class="loader-wrapper"><div id="slower-warning" class="loader"></div></div>
        
    
