<body>
<header>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class = "container">
<h1><span class="h1color">i</span><span class="h1color2">c</span class="h1color"><span class="h1color">u</span><span class="h1color2">c</span></h1>
// <img src = "icuc3.gif">
<nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
</ul>
</nav>
<header>
// %h1 Optical Wavefront Analysis
%h2 Edit the Zernike Coefficients

= button_to "Reset to all zeros", set_all_zero_path, :method => :post, class: "btn btn-default"

= form_tag update_path, :method => :post do
  %table{:border => 1}
    %tbody
      %tr
        %td i: Index 
        %td n &emsp; 
        %td m &emsp; 
        %td Term nickname
        %td Term
      %tr
        %td= 0
        %td= @nicknames[0][0]
        %td= @nicknames[0][1]
        %td= @nicknames[0][2]
        %td= text_field_tag 0, @zernikes[0], disabled: true
      - (1..65).each do |i|
        - if i == 1 or i == 3 or i == 6 or i == 10 or i == 15 or i == 21 or i == 28 or i == 36 or i == 45 or i == 55
          %td= ""
        %tr
          %td= i
          %td= @nicknames[i][0]
          %td= @nicknames[i][1]
          %td= @nicknames[i][2]
          %td= text_field_tag i, @zernikes[i]
    
  = submit_tag "Save"
</div>
</body>