%h1 Optical Wavefront Analysis
%h2 Edit the Zernikes

= form_tag update_path, :method => :post do
  %table{:border => 1}
    %tbody
      %tr
        %td i: Index
        %td n &emsp;
        %td m &emsp;
        %td Term nickname
        %td Term
      - (0..@zernikes.size-1).each do |i|
        %tr
          %td= i
          %td= ""
          %td= ""
          %td= ""
          %td= text_field_tag i, @zernikes[i]
    
  = submit_tag "Save"