%h1 Optical Wavefront Analysis

// @fields = [1,....10]
= form_tag zernikes_path, :method => :get, :id => 'input_zernikes' do

  - @fields.each do |f|
    - for i in (0..f)
     
      = label :zernike, (f).to_s.concat('_').concat((i).to_s), "Z#{(f).to_s.concat('_').concat((i).to_s)}"
     
      = text_field :zernikes, (f).to_s.concat('_').concat((i).to_s), :style =>"width:20px", :value => (@session[(f).to_s.concat('_').concat((i).to_s)]) ? @session[(f).to_s.concat('_').concat((i).to_s)] : 0 
      
    %br
    
        
    
    //   "Z#{f[0]}: #{f[1]}"
    
  = submit_tag "Save"
