%h1 Optical Wavefront Analysis


= form_tag zernikes_path, :method => :get, :id => 'input_zernikes' do
  - @fields.each do |f|
    - for i in (0..f)
     
      = label :zernike, f, "Z#{f}"
     
      = text_field :zernikes, f, :style =>"width:20px;"
    %br
    
        
    
    //   "Z#{f[0]}: #{f[1]}"
    
  = submit_tag "Save"
