%h1 Insert Coefficients

= form_tag zernikes_path do

  = label :zernike, :coefficient1, 'Coefficient1'
  = text_field :zernike, 'coefficient1'
  
  = label :zernike, :coefficient2, 'Coefficient2'
  = text_field :zernike, 'coefficient2'
  
  = label :zernike, :coefficient3, 'Coefficient3'
  = text_field :zernike, 'coefficient3'


  = submit_tag 'Save Coefficients'